.instruction-row {
    display: contents;
    font-family: 'Fira Code';

    & .instruction-number {
        background: #000000;
        color: #a1a1a1;
        align-content: center;
        display: grid;
        grid-column: 1;
        height: 100%;
        justify-content: end;
        padding: 4px;
        width: 100%;
    }

    & .instruction-container {
        background: #000000;
        align-content: center;
        display: grid;
        grid-column: 2;
        padding: 4px;
    }
}