.instruction-block {
    align-items: center;
    background: #00ff00;
    border-radius: 2px;
    color: #000000;
    display: flex;
    gap: 4px;
    padding: 4px;

    & button {
        background: #00ff00;
        border: 1px solid #00ff00;
        border-radius: 4px;
        color: #000000;

        &:hover {
            background: #a1ffa1;
            border: 1px solid #000000;
            color: #000000;
            cursor: pointer;
        }
    }

    & input {
        background-color: #000000;
        border: 1px solid #000000;
        border-radius: 2px;
        color: #00ff00;
        font-family: 'Fira Code';
    }

    & .handle {
        cursor: grab;

        & svg {
            height: 12px;
            width: 12px;
        }
    }

    & .spacer {
        flex-grow: 1;
    }
}