@import url('../InstructionBlock/InstructionBlock.css');
@import url('../InstructionRow/InstructionRow.css');

.instructions-panel {
    color: #00FF00;
    display: grid;
    font-family: 'Fira Code';
    gap: 4px;
    grid-template-rows: auto 1fr;
}

.instructions-panel-label {
    align-items: center;
    display: grid;
    gap: 4px;
    grid-template-columns: auto 1fr;
}

.instructions-panel-label .icon {
    fill: #00FF00;
    grid-column: 1;
    height: 24px;
    width: 24px;
}

.instructions-panel-label label {
    font-weight: bold;
    grid-column: 2;
}

.instructions-panel .instruction-list {
    align-items: center;
    background: #000000;
    border-radius: 4px;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: auto 1fr;
    padding: 8px 0;
}